* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
    width: 100%;
    padding:20px ;
    background-color: rgb(227, 230, 233);
}

/*first-section*/
#first-section {
    width: 100%;
    min-height: 200px;
    text-align: center;
    background-color: rgb(227, 230, 233);
}

#first-section h1 {
    padding-top: 30px;
}

#first-section p {
    margin: 30px 0px 30px 0px;
}

#first-section .input-div {
    width: 100%;
}

#first-section .input-div input {
    margin-right: 30px;
    padding: 10px;
    min-width: 30%;
    border: 1px solid rgb(196, 199, 196);
    border-radius: 5px;
}

#first-section .input-div button {
    padding: 10px;
    min-width: 60%;
    border: none;
    border-radius: 25px;
    min-width: 10%;
    color: white;
    background-color: rgb(22, 22, 22);
    font-weight: 700;
    cursor: pointer;
}


/*second-section*/
#second-section {
    width: 100%;
    display: block;
}

#research {
    margin-top: 50px;
    padding-left: 5%;
    font-size: 3rem;
}

.second-section-main-headline {
    width: 100%;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;

}

.main-headline-left {
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    border-top-left-radius: 10px;
}

.main-headline-left img {
    width: 100%;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.3s ease;
}

.main-headline-left img:hover {
    cursor: pointer;
    width: 100%;
    transform: scale(1.1);
}

.main-headline-right {
    width: 70%;
    padding: 2%;
    background-color: #e8e8ea;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-headline-right p {
    margin-top: 10px;
    color: gray;
    font-size: 0.7rem;
    font-weight: 500;
}

.main-headline-right h1 {
    margin-bottom: 20px;
}

/*third-section*/
#third-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.third-section-main-headline {
    width: 350px;
    display: block;
    margin-top: 20px;
    border-radius: 10px;
}

.third-section-main-headline .main-headline-top {
    width: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.third-section-main-headline-card {
    min-height: 350px;
    padding: 3%;
    text-align: center;
    background-color: rgb(227, 230, 233);
    border-radius: 10px;
}

.third-section-main-headline-card #first-section input {
    width: 100%;
}

.third-section-main-headline-card #first-section #card-button {
    width: 100%;
    margin-top: 10px;
    background-color: yellow;
    color: black;
}

.third-section-main-headline .main-headline-top img {
    width: 100%;
    transition: all 1s ease;
}

.third-section-main-headline .main-headline-top img:hover {
    cursor: pointer;
    width: 100%;
    transform: scale(1.1);
}

.third-section-main-headline .main-headline-bottom {
    width: 100%;
    padding: 2%;
    background-color: white;
}

.main-headline-bottom p {
    margin-top: 10px;
    color: gray;
    font-size: 0.7rem;
    font-weight: 500;
}

.main-headline-bottom h1 {
    margin-bottom: 20px;
}

#next-page {
    text-align: center;
    margin-top: 20px;
}

#next-page button {
    padding: 8px 20px;
    border: 1px solid rgb(172, 167, 167);
    border-radius: 20px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

#missing-out-headline {
    margin-top: 40px;
    padding-top: 10px;
    text-align: center;
    background-color: rgb(226, 223, 223);
    font-size: 3rem;
}


/*card*/
.card {
    position: relative;
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    overflow: hidden;
    background-color: rgb(226, 223, 223);
}

.card span {
    background-color: rgb(87, 87, 247);
    padding: 4px 5px 4px 5px;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 20px;
}

.card #sold-out {
    background-color: rgb(36, 34, 34);
}

.h4-1 {
    color: rgb(45, 45, 235);
    margin-top: 10px;
}

.h4-2 {
    color: rgb(138, 143, 143);
    text-decoration: line-through;
}

.card-box {
    width: 290px;
    border-radius: 4%;
    padding: 3%;
    margin: 2%;

    background-color: white;
}

#noWrap {
    text-wrap: nowrap;
}

.card-box img {
    width: 100%;
}

.card-box #img:hover {
    width: 100%;
    opacity: 80%;
    cursor: pointer;
    transition: all 1s;
}

.imgg {
    width: 100%;
    position: relative;
}

#img1 {
    width: 100%;
    position: absolute;
}

#img2 {
    width: 100%;
}

.card-box img:hover {
    width: 100%;
    opacity: 0%;
    cursor: pointer;
    transition: all 1s;
}

.card-price-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.card-price-buy button {
    text-wrap: nowrap;
    padding: 8px 15px;
    border: 1px solid rgb(167, 163, 163);
    border-radius: 20px;
}

.card-price-buy h4 {
    margin-bottom: 10px;
}

.card-buy button {
    border: none;
    outline: none;
    padding: 10px 15px 10px 15px;
    margin: 5px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(36, 34, 34);
    color: white;
}

.card-buy :hover {
    background-color: gray;
    color: blanchedalmond;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    z-index: 9;
}

.btn #prevBtn {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(194, 193, 193);
    background-color: white;
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.btn #prevBtn:hover {
    background-color: transparent;
}

.btn #nextBtn:hover {
    background-color: transparent;
}

.btn #nextBtn {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(194, 193, 193);
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}












@media (max-width:600px) {
    .second-section-main-headline {
        display: block;
    }

    .main-headline-left {
        width: 100%;
        border-top-right-radius: 10px;
    }

    .main-headline-left img {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .main-headline-right {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    #third-section {
        display: block;
    }

    .third-section-main-headline {
        width: 100%;
    }
}